<%- include("../partials/header") %>
<%- include("../partials/errors") %>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>
    You successfully singed up. But in order to save, and follow people, you still have to verify your E-Mail.
  </p>
  <p>
    Iy you can not see E-Mail then please do check spam, or <a href="https://brunobilandzic.from.hr/contact.html">contact us</a>.
  </p>
  <hr>
  <p class="mb-0">We've sent you an e-mail on
    <% if(typeof(user)!="undefined") {%>
      <b><%= user.email %></b>
      <% } else { %>
        Your E-Mail address
      <%}%>
    . Click on the link in the E-Mail message and you are then ready to go!
  </p>
</div>
<script type="text/javascript" src="/js/activate/hide-nav-area2.js"></script>
<%- include("../partials/footer") %>
