<%- include("../../partials/header") %>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Deleted!</h4>
  <p>
    Your successfully deleted.
  </p>
  <p>We hope we will <a href="/auth/singup">see you come back soon</a>.
  </p>
  <hr>
  <p>
    Bye!
  </p>
</div>

<%- include("../../partials/footer") %>
