<%- include("../../partials/header") %>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Password Reset Done!</h4>
  <p>
    Your password is successfully changed.
  </p>
  <p>Go ahead and <a href="/auth/login">Log in</a>.
  </p>
  <hr>
  <p>
    If you come to any problems please <a href="https://brunobilandzic.from.hr/">contact us.</a>
  </p>
</div>
<script type="text/javascript" src="/js/activate/hide-nav-area2.js"></script>
<%- include("../../partials/footer") %>
