<%- include("../../partials/header") %>
<link rel="stylesheet" href="/css/default/auth.css">
<link rel="stylesheet" media="screen and (max-width: 1000px)" href="/css/mobile/auth.css">
<link rel="stylesheet" media="screen and (min-width: 1000px)" href="/css/desktop/auth.css">
  <form class="form auth-form" action="/auth/resetpwd" method="post">
    <h4 class="auth-head">Omkay... We'll help</h4>
    <%- include("../../partials/errors") %>
    <input type="text" name="username" value="" class="form-control" placeholder="Enter your username" autocomplete="off" required>
    <button type="submit" class="btn c-btn">Reset Password</button>
  </form>

<script type="text/javascript" src="/js/activate/hide-nav-area2.js"></script>
<%-include("../../partials/footer")%>
